.class2 {
    font-size: 16pt;
    text-align: center;
}
.class3 {
    font-size: 16pt;
    text-align: center;
    color: blue;
    text-decoration: underline;
}
<?php for($i=1;$i<10;$i++) : ?>
.class<?= '' . ($i+3) ?> {
    font-size: <?= $i + 13 ?>pt;
}
<?php endfor; ?>